<h1>Burgers</h1>

<h2>Burger Suggestions</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burger/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Delicious Burgers</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burger/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Interested?</label><br>
    <input type="radio" name="devoured" value="1" checked> Delicious!<br>
    <input type="radio" name="devoured" value="0"> Suggested
  </div>

  <button type="submit">Add Burger</button>
</form>
